.primary-button {
  font-family: $secondary-font-family;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  padding: 13px 30px 10px;
  background-color: $color-black;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
}

.caption {
    font-family: $secondary-font-family;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    color: $color-green;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
