.hero {
  background-color: $color-green;
  padding-top: 40px;
  padding-bottom: 40px;

  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero__container-left {
      display: flex;
      flex-direction: column;
      align-items: start;

      h1 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        margin-bottom: 15px;
        width: 80%;
      }

      p {
        font-family: $secondary-font-family;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        color: #ffffffbf;
        margin-bottom: 25px;
        width: 75%;
      }

      button {
        font-family: $secondary-font-family;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: #000000;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 13px 48px 10px 47px;
      }
    }

    img {
      width: 644px;
      height: 378px;
    }

    @media screen and (max-width: 1140px) {
      img {
        width: 510px;
        height: 330px;
      }

      .hero__container-left {
        h1 {
          color: #fff;
          font-size: 40px;
          line-height: 45px;
          margin-bottom: 14px;
        }

        p {
          font-size: 14px;
          margin-bottom: 24px;
          width: 85%;
        }

        button {
          font-size: 20px;
          line-height: 24px;
          padding: 12px 35px;
        }
      }
    }

    @media screen and (max-width: 960px) {
      img {
        width: 430px;
        height: 300px;
      }

      .hero__container-left {
        h1 {
          color: #fff;
          font-size: 38px;
          line-height: 40px;
          margin-bottom: 12px;
          width: 80%;
        }

        p {
          font-size: 13px;
          line-height: 16px;
          margin-bottom: 23px;
          width: 80%;
        }

        button {
          font-size: 18px;
          line-height: 22px;
          padding: 11px 40px;
        }
      }
    }
  }

  @media screen and (max-width: 1140px) {
    .hero__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 820px) {
    .hero__container {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
  }
}
